/* Light mode syntax highlighting (dracula) */
/* Background */ html[data-theme=light] .bg { color:#f8f8f2;background-color:#282a36; }
/* PreWrapper */ html[data-theme=light] .chroma { color:#f8f8f2;background-color:#282a36;-webkit-text-size-adjust:none; }
/* LineLink */ html[data-theme=light] .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
/* LineTableTD */ html[data-theme=light] .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
/* LineTable */ html[data-theme=light] .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
/* LineHighlight */ html[data-theme=light] .chroma .hl { background-color:#3d3f4a }
/* LineNumbersTable */ html[data-theme=light] .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
/* LineNumbers */ html[data-theme=light] .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
/* Line */ html[data-theme=light] .chroma .line { display:flex; }
/* Keyword */ html[data-theme=light] .chroma .k { color:#ff79c6 }
/* KeywordConstant */ html[data-theme=light] .chroma .kc { color:#ff79c6 }
/* KeywordDeclaration */ html[data-theme=light] .chroma .kd { color:#8be9fd;font-style:italic }
/* KeywordNamespace */ html[data-theme=light] .chroma .kn { color:#ff79c6 }
/* KeywordPseudo */ html[data-theme=light] .chroma .kp { color:#ff79c6 }
/* KeywordReserved */ html[data-theme=light] .chroma .kr { color:#ff79c6 }
/* KeywordType */ html[data-theme=light] .chroma .kt { color:#8be9fd }
/* NameAttribute */ html[data-theme=light] .chroma .na { color:#50fa7b }
/* NameClass */ html[data-theme=light] .chroma .nc { color:#50fa7b }
/* NameLabel */ html[data-theme=light] .chroma .nl { color:#8be9fd;font-style:italic }
/* NameTag */ html[data-theme=light] .chroma .nt { color:#ff79c6 }
/* NameBuiltin */ html[data-theme=light] .chroma .nb { color:#8be9fd;font-style:italic }
/* NameBuiltinPseudo */ html[data-theme=light] .chroma .bp { font-style:italic }
/* NameVariable */ html[data-theme=light] .chroma .nv { color:#8be9fd;font-style:italic }
/* NameVariableClass */ html[data-theme=light] .chroma .vc { color:#8be9fd;font-style:italic }
/* NameVariableGlobal */ html[data-theme=light] .chroma .vg { color:#8be9fd;font-style:italic }
/* NameVariableInstance */ html[data-theme=light] .chroma .vi { color:#8be9fd;font-style:italic }
/* NameVariableMagic */ html[data-theme=light] .chroma .vm { color:#8be9fd;font-style:italic }
/* NameFunction */ html[data-theme=light] .chroma .nf { color:#50fa7b }
/* NameFunctionMagic */ html[data-theme=light] .chroma .fm { color:#50fa7b }
/* LiteralString */ html[data-theme=light] .chroma .s { color:#f1fa8c }
/* LiteralStringAffix */ html[data-theme=light] .chroma .sa { color:#f1fa8c }
/* LiteralStringBacktick */ html[data-theme=light] .chroma .sb { color:#f1fa8c }
/* LiteralStringChar */ html[data-theme=light] .chroma .sc { color:#f1fa8c }
/* LiteralStringDelimiter */ html[data-theme=light] .chroma .dl { color:#f1fa8c }
/* LiteralStringDoc */ html[data-theme=light] .chroma .sd { color:#f1fa8c }
/* LiteralStringDouble */ html[data-theme=light] .chroma .s2 { color:#f1fa8c }
/* LiteralStringEscape */ html[data-theme=light] .chroma .se { color:#f1fa8c }
/* LiteralStringHeredoc */ html[data-theme=light] .chroma .sh { color:#f1fa8c }
/* LiteralStringInterpol */ html[data-theme=light] .chroma .si { color:#f1fa8c }
/* LiteralStringOther */ html[data-theme=light] .chroma .sx { color:#f1fa8c }
/* LiteralStringRegex */ html[data-theme=light] .chroma .sr { color:#f1fa8c }
/* LiteralStringSingle */ html[data-theme=light] .chroma .s1 { color:#f1fa8c }
/* LiteralStringSymbol */ html[data-theme=light] .chroma .ss { color:#f1fa8c }
/* LiteralNumber */ html[data-theme=light] .chroma .m { color:#bd93f9 }
/* LiteralNumberBin */ html[data-theme=light] .chroma .mb { color:#bd93f9 }
/* LiteralNumberFloat */ html[data-theme=light] .chroma .mf { color:#bd93f9 }
/* LiteralNumberHex */ html[data-theme=light] .chroma .mh { color:#bd93f9 }
/* LiteralNumberInteger */ html[data-theme=light] .chroma .mi { color:#bd93f9 }
/* LiteralNumberIntegerLong */ html[data-theme=light] .chroma .il { color:#bd93f9 }
/* LiteralNumberOct */ html[data-theme=light] .chroma .mo { color:#bd93f9 }
/* Operator */ html[data-theme=light] .chroma .o { color:#ff79c6 }
/* OperatorWord */ html[data-theme=light] .chroma .ow { color:#ff79c6 }
/* Comment */ html[data-theme=light] .chroma .c { color:#6272a4 }
/* CommentHashbang */ html[data-theme=light] .chroma .ch { color:#6272a4 }
/* CommentMultiline */ html[data-theme=light] .chroma .cm { color:#6272a4 }
/* CommentSingle */ html[data-theme=light] .chroma .c1 { color:#6272a4 }
/* CommentSpecial */ html[data-theme=light] .chroma .cs { color:#6272a4 }
/* CommentPreproc */ html[data-theme=light] .chroma .cp { color:#ff79c6 }
/* CommentPreprocFile */ html[data-theme=light] .chroma .cpf { color:#ff79c6 }
/* GenericDeleted */ html[data-theme=light] .chroma .gd { color:#f55 }
/* GenericEmph */ html[data-theme=light] .chroma .ge { text-decoration:underline }
/* GenericHeading */ html[data-theme=light] .chroma .gh { font-weight:bold }
/* GenericInserted */ html[data-theme=light] .chroma .gi { color:#50fa7b;font-weight:bold }
/* GenericOutput */ html[data-theme=light] .chroma .go { color:#44475a }
/* GenericSubheading */ html[data-theme=light] .chroma .gu { font-weight:bold }
/* GenericUnderline */ html[data-theme=light] .chroma .gl { text-decoration:underline }
