/* Light mode syntax highlighting (onedark) */
/* Background */ html[data-theme=light] .bg { color:#abb2bf;background-color:#282c34; }
/* PreWrapper */ html[data-theme=light] .chroma { color:#abb2bf;background-color:#282c34;-webkit-text-size-adjust:none; }
/* LineLink */ html[data-theme=light] .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
/* LineTableTD */ html[data-theme=light] .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
/* LineTable */ html[data-theme=light] .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
/* LineHighlight */ html[data-theme=light] .chroma .hl { background-color:#3d4148 }
/* LineNumbersTable */ html[data-theme=light] .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#55595f }
/* LineNumbers */ html[data-theme=light] .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#55595f }
/* Line */ html[data-theme=light] .chroma .line { display:flex; }
/* Keyword */ html[data-theme=light] .chroma .k { color:#c678dd }
/* KeywordConstant */ html[data-theme=light] .chroma .kc { color:#e5c07b }
/* KeywordDeclaration */ html[data-theme=light] .chroma .kd { color:#c678dd }
/* KeywordNamespace */ html[data-theme=light] .chroma .kn { color:#c678dd }
/* KeywordPseudo */ html[data-theme=light] .chroma .kp { color:#c678dd }
/* KeywordReserved */ html[data-theme=light] .chroma .kr { color:#c678dd }
/* KeywordType */ html[data-theme=light] .chroma .kt { color:#e5c07b }
/* Name */ html[data-theme=light] .chroma .n { color:#e06c75 }
/* NameAttribute */ html[data-theme=light] .chroma .na { color:#e06c75 }
/* NameClass */ html[data-theme=light] .chroma .nc { color:#e5c07b }
/* NameConstant */ html[data-theme=light] .chroma .no { color:#e06c75 }
/* NameDecorator */ html[data-theme=light] .chroma .nd { color:#61afef }
/* NameEntity */ html[data-theme=light] .chroma .ni { color:#e06c75 }
/* NameException */ html[data-theme=light] .chroma .ne { color:#e06c75 }
/* NameLabel */ html[data-theme=light] .chroma .nl { color:#e06c75 }
/* NameNamespace */ html[data-theme=light] .chroma .nn { color:#e06c75 }
/* NameOther */ html[data-theme=light] .chroma .nx { color:#e06c75 }
/* NameProperty */ html[data-theme=light] .chroma .py { color:#e06c75 }
/* NameTag */ html[data-theme=light] .chroma .nt { color:#e06c75 }
/* NameBuiltin */ html[data-theme=light] .chroma .nb { color:#e5c07b }
/* NameBuiltinPseudo */ html[data-theme=light] .chroma .bp { color:#e5c07b }
/* NameVariable */ html[data-theme=light] .chroma .nv { color:#e06c75 }
/* NameVariableClass */ html[data-theme=light] .chroma .vc { color:#e06c75 }
/* NameVariableGlobal */ html[data-theme=light] .chroma .vg { color:#e06c75 }
/* NameVariableInstance */ html[data-theme=light] .chroma .vi { color:#e06c75 }
/* NameVariableMagic */ html[data-theme=light] .chroma .vm { color:#e06c75 }
/* NameFunction */ html[data-theme=light] .chroma .nf { color:#61afef;font-weight:bold }
/* NameFunctionMagic */ html[data-theme=light] .chroma .fm { color:#56b6c2;font-weight:bold }
/* LiteralString */ html[data-theme=light] .chroma .s { color:#98c379 }
/* LiteralStringAffix */ html[data-theme=light] .chroma .sa { color:#98c379 }
/* LiteralStringBacktick */ html[data-theme=light] .chroma .sb { color:#98c379 }
/* LiteralStringChar */ html[data-theme=light] .chroma .sc { color:#98c379 }
/* LiteralStringDelimiter */ html[data-theme=light] .chroma .dl { color:#98c379 }
/* LiteralStringDoc */ html[data-theme=light] .chroma .sd { color:#98c379 }
/* LiteralStringDouble */ html[data-theme=light] .chroma .s2 { color:#98c379 }
/* LiteralStringEscape */ html[data-theme=light] .chroma .se { color:#98c379 }
/* LiteralStringHeredoc */ html[data-theme=light] .chroma .sh { color:#98c379 }
/* LiteralStringInterpol */ html[data-theme=light] .chroma .si { color:#98c379 }
/* LiteralStringOther */ html[data-theme=light] .chroma .sx { color:#98c379 }
/* LiteralStringRegex */ html[data-theme=light] .chroma .sr { color:#98c379 }
/* LiteralStringSingle */ html[data-theme=light] .chroma .s1 { color:#98c379 }
/* LiteralStringSymbol */ html[data-theme=light] .chroma .ss { color:#98c379 }
/* LiteralNumber */ html[data-theme=light] .chroma .m { color:#d19a66 }
/* LiteralNumberBin */ html[data-theme=light] .chroma .mb { color:#d19a66 }
/* LiteralNumberFloat */ html[data-theme=light] .chroma .mf { color:#d19a66 }
/* LiteralNumberHex */ html[data-theme=light] .chroma .mh { color:#d19a66 }
/* LiteralNumberInteger */ html[data-theme=light] .chroma .mi { color:#d19a66 }
/* LiteralNumberIntegerLong */ html[data-theme=light] .chroma .il { color:#d19a66 }
/* LiteralNumberOct */ html[data-theme=light] .chroma .mo { color:#d19a66 }
/* Operator */ html[data-theme=light] .chroma .o { color:#56b6c2 }
/* OperatorWord */ html[data-theme=light] .chroma .ow { color:#56b6c2 }
/* Comment */ html[data-theme=light] .chroma .c { color:#7f848e }
/* CommentHashbang */ html[data-theme=light] .chroma .ch { color:#7f848e }
/* CommentMultiline */ html[data-theme=light] .chroma .cm { color:#7f848e }
/* CommentSingle */ html[data-theme=light] .chroma .c1 { color:#7f848e }
/* CommentSpecial */ html[data-theme=light] .chroma .cs { color:#7f848e }
/* CommentPreproc */ html[data-theme=light] .chroma .cp { color:#7f848e }
/* CommentPreprocFile */ html[data-theme=light] .chroma .cpf { color:#7f848e }
/* GenericDeleted */ html[data-theme=light] .chroma .gd { color:#e06c75 }
/* GenericInserted */ html[data-theme=light] .chroma .gi { color:#98c379;font-weight:bold }
