/* Light mode syntax highlighting (solarized-dark) */
/* Background */ html[data-theme=light] .bg { color:#93a1a1;background-color:#002b36; }
/* PreWrapper */ html[data-theme=light] .chroma { color:#93a1a1;background-color:#002b36;-webkit-text-size-adjust:none; }
/* Other */ html[data-theme=light] .chroma .x { color:#cb4b16 }
/* LineLink */ html[data-theme=light] .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
/* LineTableTD */ html[data-theme=light] .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
/* LineTable */ html[data-theme=light] .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
/* LineHighlight */ html[data-theme=light] .chroma .hl { background-color:#19404a }
/* LineNumbersTable */ html[data-theme=light] .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#495050 }
/* LineNumbers */ html[data-theme=light] .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#495050 }
/* Line */ html[data-theme=light] .chroma .line { display:flex; }
/* Keyword */ html[data-theme=light] .chroma .k { color:#719e07 }
/* KeywordConstant */ html[data-theme=light] .chroma .kc { color:#cb4b16 }
/* KeywordDeclaration */ html[data-theme=light] .chroma .kd { color:#268bd2 }
/* KeywordNamespace */ html[data-theme=light] .chroma .kn { color:#719e07 }
/* KeywordPseudo */ html[data-theme=light] .chroma .kp { color:#719e07 }
/* KeywordReserved */ html[data-theme=light] .chroma .kr { color:#268bd2 }
/* KeywordType */ html[data-theme=light] .chroma .kt { color:#dc322f }
/* NameClass */ html[data-theme=light] .chroma .nc { color:#268bd2 }
/* NameConstant */ html[data-theme=light] .chroma .no { color:#cb4b16 }
/* NameDecorator */ html[data-theme=light] .chroma .nd { color:#268bd2 }
/* NameEntity */ html[data-theme=light] .chroma .ni { color:#cb4b16 }
/* NameException */ html[data-theme=light] .chroma .ne { color:#cb4b16 }
/* NameTag */ html[data-theme=light] .chroma .nt { color:#268bd2 }
/* NameBuiltin */ html[data-theme=light] .chroma .nb { color:#b58900 }
/* NameBuiltinPseudo */ html[data-theme=light] .chroma .bp { color:#268bd2 }
/* NameVariable */ html[data-theme=light] .chroma .nv { color:#268bd2 }
/* NameVariableClass */ html[data-theme=light] .chroma .vc { color:#268bd2 }
/* NameVariableGlobal */ html[data-theme=light] .chroma .vg { color:#268bd2 }
/* NameVariableInstance */ html[data-theme=light] .chroma .vi { color:#268bd2 }
/* NameVariableMagic */ html[data-theme=light] .chroma .vm { color:#268bd2 }
/* NameFunction */ html[data-theme=light] .chroma .nf { color:#268bd2 }
/* NameFunctionMagic */ html[data-theme=light] .chroma .fm { color:#268bd2 }
/* LiteralString */ html[data-theme=light] .chroma .s { color:#2aa198 }
/* LiteralStringAffix */ html[data-theme=light] .chroma .sa { color:#2aa198 }
/* LiteralStringBacktick */ html[data-theme=light] .chroma .sb { color:#586e75 }
/* LiteralStringChar */ html[data-theme=light] .chroma .sc { color:#2aa198 }
/* LiteralStringDelimiter */ html[data-theme=light] .chroma .dl { color:#2aa198 }
/* LiteralStringDouble */ html[data-theme=light] .chroma .s2 { color:#2aa198 }
/* LiteralStringEscape */ html[data-theme=light] .chroma .se { color:#cb4b16 }
/* LiteralStringInterpol */ html[data-theme=light] .chroma .si { color:#2aa198 }
/* LiteralStringOther */ html[data-theme=light] .chroma .sx { color:#2aa198 }
/* LiteralStringRegex */ html[data-theme=light] .chroma .sr { color:#dc322f }
/* LiteralStringSingle */ html[data-theme=light] .chroma .s1 { color:#2aa198 }
/* LiteralStringSymbol */ html[data-theme=light] .chroma .ss { color:#2aa198 }
/* LiteralNumber */ html[data-theme=light] .chroma .m { color:#2aa198 }
/* LiteralNumberBin */ html[data-theme=light] .chroma .mb { color:#2aa198 }
/* LiteralNumberFloat */ html[data-theme=light] .chroma .mf { color:#2aa198 }
/* LiteralNumberHex */ html[data-theme=light] .chroma .mh { color:#2aa198 }
/* LiteralNumberInteger */ html[data-theme=light] .chroma .mi { color:#2aa198 }
/* LiteralNumberIntegerLong */ html[data-theme=light] .chroma .il { color:#2aa198 }
/* LiteralNumberOct */ html[data-theme=light] .chroma .mo { color:#2aa198 }
/* Operator */ html[data-theme=light] .chroma .o { color:#719e07 }
/* OperatorWord */ html[data-theme=light] .chroma .ow { color:#719e07 }
/* Comment */ html[data-theme=light] .chroma .c { color:#586e75 }
/* CommentHashbang */ html[data-theme=light] .chroma .ch { color:#586e75 }
/* CommentMultiline */ html[data-theme=light] .chroma .cm { color:#586e75 }
/* CommentSingle */ html[data-theme=light] .chroma .c1 { color:#586e75 }
/* CommentSpecial */ html[data-theme=light] .chroma .cs { color:#719e07 }
/* CommentPreproc */ html[data-theme=light] .chroma .cp { color:#719e07 }
/* CommentPreprocFile */ html[data-theme=light] .chroma .cpf { color:#719e07 }
/* GenericDeleted */ html[data-theme=light] .chroma .gd { color:#dc322f }
/* GenericEmph */ html[data-theme=light] .chroma .ge { font-style:italic }
/* GenericError */ html[data-theme=light] .chroma .gr { color:#dc322f;font-weight:bold }
/* GenericHeading */ html[data-theme=light] .chroma .gh { color:#cb4b16 }
/* GenericInserted */ html[data-theme=light] .chroma .gi { color:#719e07 }
/* GenericStrong */ html[data-theme=light] .chroma .gs { font-weight:bold }
/* GenericSubheading */ html[data-theme=light] .chroma .gu { color:#268bd2 }
