/* Dark mode syntax highlighting (friendly) */
/* Background */ html[data-theme=dark] .bg { background-color:#f0f0f0; }
/* PreWrapper */ html[data-theme=dark] .chroma { background-color:#f0f0f0;-webkit-text-size-adjust:none; }
/* LineLink */ html[data-theme=dark] .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
/* LineTableTD */ html[data-theme=dark] .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
/* LineTable */ html[data-theme=dark] .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
/* LineHighlight */ html[data-theme=dark] .chroma .hl { background-color:#d8d8d8 }
/* LineNumbersTable */ html[data-theme=dark] .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
/* LineNumbers */ html[data-theme=dark] .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
/* Line */ html[data-theme=dark] .chroma .line { display:flex; }
/* Keyword */ html[data-theme=dark] .chroma .k { color:#007020;font-weight:bold }
/* KeywordConstant */ html[data-theme=dark] .chroma .kc { color:#007020;font-weight:bold }
/* KeywordDeclaration */ html[data-theme=dark] .chroma .kd { color:#007020;font-weight:bold }
/* KeywordNamespace */ html[data-theme=dark] .chroma .kn { color:#007020;font-weight:bold }
/* KeywordPseudo */ html[data-theme=dark] .chroma .kp { color:#007020 }
/* KeywordReserved */ html[data-theme=dark] .chroma .kr { color:#007020;font-weight:bold }
/* KeywordType */ html[data-theme=dark] .chroma .kt { color:#902000 }
/* NameAttribute */ html[data-theme=dark] .chroma .na { color:#4070a0 }
/* NameClass */ html[data-theme=dark] .chroma .nc { color:#0e84b5;font-weight:bold }
/* NameConstant */ html[data-theme=dark] .chroma .no { color:#60add5 }
/* NameDecorator */ html[data-theme=dark] .chroma .nd { color:#555;font-weight:bold }
/* NameEntity */ html[data-theme=dark] .chroma .ni { color:#d55537;font-weight:bold }
/* NameException */ html[data-theme=dark] .chroma .ne { color:#007020 }
/* NameLabel */ html[data-theme=dark] .chroma .nl { color:#002070;font-weight:bold }
/* NameNamespace */ html[data-theme=dark] .chroma .nn { color:#0e84b5;font-weight:bold }
/* NameTag */ html[data-theme=dark] .chroma .nt { color:#062873;font-weight:bold }
/* NameBuiltin */ html[data-theme=dark] .chroma .nb { color:#007020 }
/* NameBuiltinPseudo */ html[data-theme=dark] .chroma .bp { color:#007020 }
/* NameVariable */ html[data-theme=dark] .chroma .nv { color:#bb60d5 }
/* NameVariableClass */ html[data-theme=dark] .chroma .vc { color:#bb60d5 }
/* NameVariableGlobal */ html[data-theme=dark] .chroma .vg { color:#bb60d5 }
/* NameVariableInstance */ html[data-theme=dark] .chroma .vi { color:#bb60d5 }
/* NameVariableMagic */ html[data-theme=dark] .chroma .vm { color:#bb60d5 }
/* NameFunction */ html[data-theme=dark] .chroma .nf { color:#06287e }
/* NameFunctionMagic */ html[data-theme=dark] .chroma .fm { color:#06287e }
/* LiteralString */ html[data-theme=dark] .chroma .s { color:#4070a0 }
/* LiteralStringAffix */ html[data-theme=dark] .chroma .sa { color:#4070a0 }
/* LiteralStringBacktick */ html[data-theme=dark] .chroma .sb { color:#4070a0 }
/* LiteralStringChar */ html[data-theme=dark] .chroma .sc { color:#4070a0 }
/* LiteralStringDelimiter */ html[data-theme=dark] .chroma .dl { color:#4070a0 }
/* LiteralStringDoc */ html[data-theme=dark] .chroma .sd { color:#4070a0;font-style:italic }
/* LiteralStringDouble */ html[data-theme=dark] .chroma .s2 { color:#4070a0 }
/* LiteralStringEscape */ html[data-theme=dark] .chroma .se { color:#4070a0;font-weight:bold }
/* LiteralStringHeredoc */ html[data-theme=dark] .chroma .sh { color:#4070a0 }
/* LiteralStringInterpol */ html[data-theme=dark] .chroma .si { color:#70a0d0 }
/* LiteralStringOther */ html[data-theme=dark] .chroma .sx { color:#c65d09 }
/* LiteralStringRegex */ html[data-theme=dark] .chroma .sr { color:#235388 }
/* LiteralStringSingle */ html[data-theme=dark] .chroma .s1 { color:#4070a0 }
/* LiteralStringSymbol */ html[data-theme=dark] .chroma .ss { color:#517918 }
/* LiteralNumber */ html[data-theme=dark] .chroma .m { color:#40a070 }
/* LiteralNumberBin */ html[data-theme=dark] .chroma .mb { color:#40a070 }
/* LiteralNumberFloat */ html[data-theme=dark] .chroma .mf { color:#40a070 }
/* LiteralNumberHex */ html[data-theme=dark] .chroma .mh { color:#40a070 }
/* LiteralNumberInteger */ html[data-theme=dark] .chroma .mi { color:#40a070 }
/* LiteralNumberIntegerLong */ html[data-theme=dark] .chroma .il { color:#40a070 }
/* LiteralNumberOct */ html[data-theme=dark] .chroma .mo { color:#40a070 }
/* Operator */ html[data-theme=dark] .chroma .o { color:#666 }
/* OperatorWord */ html[data-theme=dark] .chroma .ow { color:#007020;font-weight:bold }
/* Comment */ html[data-theme=dark] .chroma .c { color:#60a0b0;font-style:italic }
/* CommentHashbang */ html[data-theme=dark] .chroma .ch { color:#60a0b0;font-style:italic }
/* CommentMultiline */ html[data-theme=dark] .chroma .cm { color:#60a0b0;font-style:italic }
/* CommentSingle */ html[data-theme=dark] .chroma .c1 { color:#60a0b0;font-style:italic }
/* CommentSpecial */ html[data-theme=dark] .chroma .cs { color:#60a0b0;background-color:#fff0f0 }
/* CommentPreproc */ html[data-theme=dark] .chroma .cp { color:#007020 }
/* CommentPreprocFile */ html[data-theme=dark] .chroma .cpf { color:#007020 }
/* GenericDeleted */ html[data-theme=dark] .chroma .gd { color:#a00000 }
/* GenericEmph */ html[data-theme=dark] .chroma .ge { font-style:italic }
/* GenericError */ html[data-theme=dark] .chroma .gr { color:#f00 }
/* GenericHeading */ html[data-theme=dark] .chroma .gh { color:#000080;font-weight:bold }
/* GenericInserted */ html[data-theme=dark] .chroma .gi { color:#00a000 }
/* GenericOutput */ html[data-theme=dark] .chroma .go { color:#888 }
/* GenericPrompt */ html[data-theme=dark] .chroma .gp { color:#c65d09;font-weight:bold }
/* GenericStrong */ html[data-theme=dark] .chroma .gs { font-weight:bold }
/* GenericSubheading */ html[data-theme=dark] .chroma .gu { color:#800080;font-weight:bold }
/* GenericTraceback */ html[data-theme=dark] .chroma .gt { color:#04d }
/* GenericUnderline */ html[data-theme=dark] .chroma .gl { text-decoration:underline }
/* TextWhitespace */ html[data-theme=dark] .chroma .w { color:#bbb }
