/* Dark mode syntax highlighting (github) */
/* Background */ html[data-theme=dark] .bg { background-color:#f7f7f7; }
/* PreWrapper */ html[data-theme=dark] .chroma { background-color:#f7f7f7;-webkit-text-size-adjust:none; }
/* Error */ html[data-theme=dark] .chroma .err { color:#f6f8fa;background-color:#82071e }
/* LineLink */ html[data-theme=dark] .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
/* LineTableTD */ html[data-theme=dark] .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
/* LineTable */ html[data-theme=dark] .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
/* LineHighlight */ html[data-theme=dark] .chroma .hl { background-color:#dedede }
/* LineNumbersTable */ html[data-theme=dark] .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
/* LineNumbers */ html[data-theme=dark] .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
/* Line */ html[data-theme=dark] .chroma .line { display:flex; }
/* Keyword */ html[data-theme=dark] .chroma .k { color:#cf222e }
/* KeywordConstant */ html[data-theme=dark] .chroma .kc { color:#cf222e }
/* KeywordDeclaration */ html[data-theme=dark] .chroma .kd { color:#cf222e }
/* KeywordNamespace */ html[data-theme=dark] .chroma .kn { color:#cf222e }
/* KeywordPseudo */ html[data-theme=dark] .chroma .kp { color:#cf222e }
/* KeywordReserved */ html[data-theme=dark] .chroma .kr { color:#cf222e }
/* KeywordType */ html[data-theme=dark] .chroma .kt { color:#cf222e }
/* NameAttribute */ html[data-theme=dark] .chroma .na { color:#1f2328 }
/* NameClass */ html[data-theme=dark] .chroma .nc { color:#1f2328 }
/* NameConstant */ html[data-theme=dark] .chroma .no { color:#0550ae }
/* NameDecorator */ html[data-theme=dark] .chroma .nd { color:#0550ae }
/* NameEntity */ html[data-theme=dark] .chroma .ni { color:#6639ba }
/* NameLabel */ html[data-theme=dark] .chroma .nl { color:#900;font-weight:bold }
/* NameNamespace */ html[data-theme=dark] .chroma .nn { color:#24292e }
/* NameOther */ html[data-theme=dark] .chroma .nx { color:#1f2328 }
/* NameTag */ html[data-theme=dark] .chroma .nt { color:#0550ae }
/* NameBuiltin */ html[data-theme=dark] .chroma .nb { color:#6639ba }
/* NameBuiltinPseudo */ html[data-theme=dark] .chroma .bp { color:#6a737d }
/* NameVariable */ html[data-theme=dark] .chroma .nv { color:#953800 }
/* NameVariableClass */ html[data-theme=dark] .chroma .vc { color:#953800 }
/* NameVariableGlobal */ html[data-theme=dark] .chroma .vg { color:#953800 }
/* NameVariableInstance */ html[data-theme=dark] .chroma .vi { color:#953800 }
/* NameVariableMagic */ html[data-theme=dark] .chroma .vm { color:#953800 }
/* NameFunction */ html[data-theme=dark] .chroma .nf { color:#6639ba }
/* NameFunctionMagic */ html[data-theme=dark] .chroma .fm { color:#6639ba }
/* LiteralString */ html[data-theme=dark] .chroma .s { color:#0a3069 }
/* LiteralStringAffix */ html[data-theme=dark] .chroma .sa { color:#0a3069 }
/* LiteralStringBacktick */ html[data-theme=dark] .chroma .sb { color:#0a3069 }
/* LiteralStringChar */ html[data-theme=dark] .chroma .sc { color:#0a3069 }
/* LiteralStringDelimiter */ html[data-theme=dark] .chroma .dl { color:#0a3069 }
/* LiteralStringDoc */ html[data-theme=dark] .chroma .sd { color:#0a3069 }
/* LiteralStringDouble */ html[data-theme=dark] .chroma .s2 { color:#0a3069 }
/* LiteralStringEscape */ html[data-theme=dark] .chroma .se { color:#0a3069 }
/* LiteralStringHeredoc */ html[data-theme=dark] .chroma .sh { color:#0a3069 }
/* LiteralStringInterpol */ html[data-theme=dark] .chroma .si { color:#0a3069 }
/* LiteralStringOther */ html[data-theme=dark] .chroma .sx { color:#0a3069 }
/* LiteralStringRegex */ html[data-theme=dark] .chroma .sr { color:#0a3069 }
/* LiteralStringSingle */ html[data-theme=dark] .chroma .s1 { color:#0a3069 }
/* LiteralStringSymbol */ html[data-theme=dark] .chroma .ss { color:#032f62 }
/* LiteralNumber */ html[data-theme=dark] .chroma .m { color:#0550ae }
/* LiteralNumberBin */ html[data-theme=dark] .chroma .mb { color:#0550ae }
/* LiteralNumberFloat */ html[data-theme=dark] .chroma .mf { color:#0550ae }
/* LiteralNumberHex */ html[data-theme=dark] .chroma .mh { color:#0550ae }
/* LiteralNumberInteger */ html[data-theme=dark] .chroma .mi { color:#0550ae }
/* LiteralNumberIntegerLong */ html[data-theme=dark] .chroma .il { color:#0550ae }
/* LiteralNumberOct */ html[data-theme=dark] .chroma .mo { color:#0550ae }
/* Operator */ html[data-theme=dark] .chroma .o { color:#0550ae }
/* OperatorWord */ html[data-theme=dark] .chroma .ow { color:#0550ae }
/* Punctuation */ html[data-theme=dark] .chroma .p { color:#1f2328 }
/* Comment */ html[data-theme=dark] .chroma .c { color:#57606a }
/* CommentHashbang */ html[data-theme=dark] .chroma .ch { color:#57606a }
/* CommentMultiline */ html[data-theme=dark] .chroma .cm { color:#57606a }
/* CommentSingle */ html[data-theme=dark] .chroma .c1 { color:#57606a }
/* CommentSpecial */ html[data-theme=dark] .chroma .cs { color:#57606a }
/* CommentPreproc */ html[data-theme=dark] .chroma .cp { color:#57606a }
/* CommentPreprocFile */ html[data-theme=dark] .chroma .cpf { color:#57606a }
/* GenericDeleted */ html[data-theme=dark] .chroma .gd { color:#82071e;background-color:#ffebe9 }
/* GenericEmph */ html[data-theme=dark] .chroma .ge { color:#1f2328 }
/* GenericInserted */ html[data-theme=dark] .chroma .gi { color:#116329;background-color:#dafbe1 }
/* GenericOutput */ html[data-theme=dark] .chroma .go { color:#1f2328 }
/* GenericUnderline */ html[data-theme=dark] .chroma .gl { text-decoration:underline }
/* TextWhitespace */ html[data-theme=dark] .chroma .w { color:#fff }
