/* Dark mode syntax highlighting (solarized-light) */
/* Background */ html[data-theme=dark] .bg { color:#586e75;background-color:#eee8d5; }
/* PreWrapper */ html[data-theme=dark] .chroma { color:#586e75;background-color:#eee8d5;-webkit-text-size-adjust:none; }
/* LineLink */ html[data-theme=dark] .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
/* LineTableTD */ html[data-theme=dark] .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
/* LineTable */ html[data-theme=dark] .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
/* LineHighlight */ html[data-theme=dark] .chroma .hl { background-color:#d6d0bf }
/* LineNumbersTable */ html[data-theme=dark] .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
/* LineNumbers */ html[data-theme=dark] .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
/* Line */ html[data-theme=dark] .chroma .line { display:flex; }
/* Keyword */ html[data-theme=dark] .chroma .k { color:#859900 }
/* KeywordConstant */ html[data-theme=dark] .chroma .kc { color:#859900;font-weight:bold }
/* KeywordDeclaration */ html[data-theme=dark] .chroma .kd { color:#859900 }
/* KeywordNamespace */ html[data-theme=dark] .chroma .kn { color:#dc322f;font-weight:bold }
/* KeywordPseudo */ html[data-theme=dark] .chroma .kp { color:#859900 }
/* KeywordReserved */ html[data-theme=dark] .chroma .kr { color:#859900 }
/* KeywordType */ html[data-theme=dark] .chroma .kt { color:#859900;font-weight:bold }
/* Name */ html[data-theme=dark] .chroma .n { color:#268bd2 }
/* NameAttribute */ html[data-theme=dark] .chroma .na { color:#268bd2 }
/* NameClass */ html[data-theme=dark] .chroma .nc { color:#cb4b16 }
/* NameConstant */ html[data-theme=dark] .chroma .no { color:#268bd2 }
/* NameDecorator */ html[data-theme=dark] .chroma .nd { color:#268bd2 }
/* NameEntity */ html[data-theme=dark] .chroma .ni { color:#268bd2 }
/* NameException */ html[data-theme=dark] .chroma .ne { color:#268bd2 }
/* NameLabel */ html[data-theme=dark] .chroma .nl { color:#268bd2 }
/* NameNamespace */ html[data-theme=dark] .chroma .nn { color:#268bd2 }
/* NameOther */ html[data-theme=dark] .chroma .nx { color:#268bd2 }
/* NameProperty */ html[data-theme=dark] .chroma .py { color:#268bd2 }
/* NameTag */ html[data-theme=dark] .chroma .nt { color:#268bd2;font-weight:bold }
/* NameBuiltin */ html[data-theme=dark] .chroma .nb { color:#cb4b16 }
/* NameBuiltinPseudo */ html[data-theme=dark] .chroma .bp { color:#cb4b16 }
/* NameVariable */ html[data-theme=dark] .chroma .nv { color:#268bd2 }
/* NameVariableClass */ html[data-theme=dark] .chroma .vc { color:#268bd2 }
/* NameVariableGlobal */ html[data-theme=dark] .chroma .vg { color:#268bd2 }
/* NameVariableInstance */ html[data-theme=dark] .chroma .vi { color:#268bd2 }
/* NameVariableMagic */ html[data-theme=dark] .chroma .vm { color:#268bd2 }
/* NameFunction */ html[data-theme=dark] .chroma .nf { color:#268bd2 }
/* NameFunctionMagic */ html[data-theme=dark] .chroma .fm { color:#268bd2 }
/* Literal */ html[data-theme=dark] .chroma .l { color:#2aa198 }
/* LiteralDate */ html[data-theme=dark] .chroma .ld { color:#2aa198 }
/* LiteralString */ html[data-theme=dark] .chroma .s { color:#2aa198 }
/* LiteralStringAffix */ html[data-theme=dark] .chroma .sa { color:#2aa198 }
/* LiteralStringBacktick */ html[data-theme=dark] .chroma .sb { color:#2aa198 }
/* LiteralStringChar */ html[data-theme=dark] .chroma .sc { color:#2aa198 }
/* LiteralStringDelimiter */ html[data-theme=dark] .chroma .dl { color:#2aa198 }
/* LiteralStringDoc */ html[data-theme=dark] .chroma .sd { color:#2aa198 }
/* LiteralStringDouble */ html[data-theme=dark] .chroma .s2 { color:#2aa198 }
/* LiteralStringEscape */ html[data-theme=dark] .chroma .se { color:#2aa198 }
/* LiteralStringHeredoc */ html[data-theme=dark] .chroma .sh { color:#2aa198 }
/* LiteralStringInterpol */ html[data-theme=dark] .chroma .si { color:#2aa198 }
/* LiteralStringOther */ html[data-theme=dark] .chroma .sx { color:#2aa198 }
/* LiteralStringRegex */ html[data-theme=dark] .chroma .sr { color:#2aa198 }
/* LiteralStringSingle */ html[data-theme=dark] .chroma .s1 { color:#2aa198 }
/* LiteralStringSymbol */ html[data-theme=dark] .chroma .ss { color:#2aa198 }
/* LiteralNumber */ html[data-theme=dark] .chroma .m { color:#2aa198;font-weight:bold }
/* LiteralNumberBin */ html[data-theme=dark] .chroma .mb { color:#2aa198;font-weight:bold }
/* LiteralNumberFloat */ html[data-theme=dark] .chroma .mf { color:#2aa198;font-weight:bold }
/* LiteralNumberHex */ html[data-theme=dark] .chroma .mh { color:#2aa198;font-weight:bold }
/* LiteralNumberInteger */ html[data-theme=dark] .chroma .mi { color:#2aa198;font-weight:bold }
/* LiteralNumberIntegerLong */ html[data-theme=dark] .chroma .il { color:#2aa198;font-weight:bold }
/* LiteralNumberOct */ html[data-theme=dark] .chroma .mo { color:#2aa198;font-weight:bold }
/* OperatorWord */ html[data-theme=dark] .chroma .ow { color:#859900 }
/* Comment */ html[data-theme=dark] .chroma .c { color:#93a1a1;font-style:italic }
/* CommentHashbang */ html[data-theme=dark] .chroma .ch { color:#93a1a1;font-style:italic }
/* CommentMultiline */ html[data-theme=dark] .chroma .cm { color:#93a1a1;font-style:italic }
/* CommentSingle */ html[data-theme=dark] .chroma .c1 { color:#93a1a1;font-style:italic }
/* CommentSpecial */ html[data-theme=dark] .chroma .cs { color:#93a1a1;font-style:italic }
/* CommentPreproc */ html[data-theme=dark] .chroma .cp { color:#93a1a1;font-style:italic }
/* CommentPreprocFile */ html[data-theme=dark] .chroma .cpf { color:#93a1a1;font-style:italic }
/* Generic */ html[data-theme=dark] .chroma .g { color:#d33682 }
/* GenericDeleted */ html[data-theme=dark] .chroma .gd { color:#d33682 }
/* GenericEmph */ html[data-theme=dark] .chroma .ge { color:#d33682 }
/* GenericError */ html[data-theme=dark] .chroma .gr { color:#d33682 }
/* GenericHeading */ html[data-theme=dark] .chroma .gh { color:#d33682 }
/* GenericInserted */ html[data-theme=dark] .chroma .gi { color:#d33682 }
/* GenericOutput */ html[data-theme=dark] .chroma .go { color:#d33682 }
/* GenericPrompt */ html[data-theme=dark] .chroma .gp { color:#d33682 }
/* GenericStrong */ html[data-theme=dark] .chroma .gs { color:#d33682 }
/* GenericSubheading */ html[data-theme=dark] .chroma .gu { color:#d33682 }
/* GenericTraceback */ html[data-theme=dark] .chroma .gt { color:#d33682 }
/* GenericUnderline */ html[data-theme=dark] .chroma .gl { color:#d33682 }
